
.heat-map {
  margin: 16px 12px 16px 8px;
  border-radius: 3px;
  border: 1px solid #e3e4e4;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
  background-color: white;

  .heat-map-header {
    box-sizing: border-box;
    padding: 0 16px;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #EDEEEE;

    .clickable {
      color: #005054;
    }
    .clickable:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .heat-map-title {
    font-size: 16px;
    font-weight: 600;
    color: #000E0E;
    text-align: center;
  }

  .heat-map-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 14px;


    .node {
      width: 14px;
      height: 14px;
      margin: 2px;
    }

    .selected {
      border: 3px solid #222222;
      margin: -2px;
      width: 16px;
      height: 20px;
    }
  }
}

.heat-map-legend {
  width: 250px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 0px;

  span {
    font-size: 12px;
    font-weight: 200;
    white-space: nowrap;
    color: #8E9494;
  }
  .left {
    text-align: right;
  }
}

.heat-map-spectrum {
  display: flex;
  height: 8px;
  width: 170px;
  box-sizing: border-box;
  margin: 0 8px;
  border-radius: 9px;
  overflow: hidden;

  .slice {
    width: 0.5%;
  }
}
