@import "../../components/heat-map.scss";

.facet-table {
  width: 100%;
  height: 100%;

  p {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }
}
.facet-list-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #EEEEEE;

  h3 {
    padding: 12px 16px;
    font-size: 16px;
    border-bottom: 2px solid #f4f5f5;
    color: #2A3434;
    font-weight: 600;
  }

  .facet-list {
    background-color: white;
  }

  .facet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    list-style-type: none;
    color: #2A3434;
    font-size: 11px;
    overflow-wrap: break-word;
    border-bottom: rgb(244, 244, 244) solid 1px;
  }
  
  .facet:hover {
    cursor: pointer;
    background-color: #FAFBFB;
  }

  .selected {
    background-color: #FAFBFB;
    box-shadow: inset 4px 0 0 #007E8A;
    font-weight: 600;
    color: #007E8A;
  }
}

.facet-count {
  color: #8E9494;
  text-align: right;
}

.header {
  .options-bar {
    height: 50px;
    justify-content: space-between;
    background-color: #EDEEEE;
    border-top: 1px solid #E3E4E4;
    border-bottom: 1px solid #E3E4E4;
    box-sizing: border-box;
    padding: 0 16px 0;

    .account-picker {
      font-size: 16px;
    }

    .title {
      flex-grow: 1;
      text-align: right;
      font-size: 12px;
      color: #8E9494;
    }
  }

  .too-many-containers {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .filter-bar {
    padding-top: 12px;
    padding-left: 18px;

    &:empty {
      display :none;
    }
  }

  .filter {
    background-color: #d0f0ff;
    padding-left: 6px;
    padding-top: 3px;
    margin: 4px;
    border-radius: 3px;

    p {
      font-size: 12px;
      margin-bottom: 3px;
    }
    .name {
      color: #666666;
    }
    .value {
      font-weight: 400;
    }
  }
}

.container-explorer {
  background-color: rgb(248, 248, 248);
}

.heat-map-list {
  background-color: rgb(248, 248, 248);
  padding-top: 4px;
}

.full-height {
  height: 100%;
}

.plot-picker-container {
  width: 100%;
  display: flex;
  align-items: bottom;
  border-bottom: 1px dotted #aaaaaa;

  .title {
    padding-top: 1px;
    font-size: 14px;
  }
  .limit-info {
    color: #666666;
    flex-grow: 1;
    height: 100%;
    text-align: right;
    padding-right: 18px;
    padding-top: 4px;
    padding-left: 14px;
    font-style: italic;
  }
}

.container-table {
  font-size: 12px;
}
