@import "../../components/heat-map.scss";

.facet-table {
  width: 100%;
  height: 100%;

  p {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }
}

.detail-pane-grid-item {
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #eee;
}

.facet-list-container-grid {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #EEEEEE;
}

.facet-list-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #fff;

  h3 {
    padding: 12px 16px;
    font-size: 16px;
    border-bottom: 1px dotted #edeeee;
    color: #2A3434;
    font-weight: 600;
  }

  .facet-list {
    background-color: white;
  }

  .facet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    list-style-type: none;
    color: #2A3434;
    font-size: 11px;
    overflow-wrap: break-word;
    border-bottom: rgb(244, 244, 244) solid 1px;
  }
  
  .facet:hover {
    cursor: pointer;
    background-color: #FAFBFB;
  }

  .selected {
    background-color: #FAFBFB;
    box-shadow: inset 4px 0 0 #007E8A;
    font-weight: 600;
    color: #007E8A;
  }
}

.facet-count {
  color: #8E9494;
  text-align: right;
}

.header {
  .options-bar {
    height: 50px;
    justify-content: space-between;
    background-color: #EDEEEE;
    border-top: 1px solid #E3E4E4;
    border-bottom: 1px solid #E3E4E4;
    box-sizing: border-box;
    padding: 0 16px 0;

    .account-picker {
      font-size: 16px;
    }

    .title {
      flex-grow: 1;
      text-align: right;
      font-size: 12px;
      color: #8E9494;
    }
  }

  .too-many-containers {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .filter-bar {
    padding-top: 12px;
    padding-left: 18px;

    &:empty {
      display :none;
    }
  }
}

.filters-container {
  padding: 16px 8px 0;
  margin-bottom: -8px;

  &:empty {
    display: none;
  }

  &:before {
    content: "Filters:";
    margin-right: 4px;
    font-size: 10px;
    color: #8E9494;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.filter {
  background-color: #D0F0FF;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 30px 4px 8px;
  line-height: 15px;
  border-radius: 3px;
  color: #003555;
  display: inline-block;
  position: relative;
}
.filter-value {
  font-weight: 600;
}

.filter-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
  border-radius:0 3px 3px 0;
  border-left:1px solid rgba(0, 53,85, .09);
}

.filter-remove-btn .ic-Icon {
  transform:scale(.75)
}

.filter-remove-btn:hover {
  background-color: #66ccfe;
  cursor: pointer;
  border-color: transparent;
}

.container-explorer-container {
  overflow: scroll;

  .detail-pane-grid-minimized & {
    padding-right: 18px;
  }
}

.container-explorer {
  height: calc(100% - 50px);
  background-color: rgb(248, 248, 248);
}

.container-explorer-grid {
  grid-gap: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.heat-map-list {
  background-color: rgb(248, 248, 248);
  padding-top: 4px;
}

.full-height {
  height: 100%;
}

.plot-picker-container {
  width: 100%;
  display: flex;
  align-items: bottom;
  border-bottom: 1px dotted #aaaaaa;

  .title {
    padding-top: 1px;
    font-size: 14px;
  }
  .limit-info {
    color: #666666;
    flex-grow: 1;
    height: 100%;
    text-align: right;
    padding-right: 18px;
    padding-top: 4px;
    padding-left: 14px;
    font-style: italic;
  }
}

.container-table {
  font-size: 12px;
}

