@import "../../components/heat-map.scss";

.facet-table {
  width: 100%;
  height: 100%;

  p {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }
}
.facet-list {
  height: 100%;
  background-color: white;
  h3 {
    text-align: center;
  }

  li {
    padding: 12px;
    list-style-type: none;
    font-size: 11px;
    overflow-wrap: break-word;
    border-bottom: rgb(244, 244, 244) solid 1px;
  }
  li:hover {
    cursor: pointer;
    background-color: rgb(248,248,248);
  }

  .selected {
    background-color: rgb(248,248,248);
    font-weight: 700;
  }
}

.header {
  border-bottom: 1px dotted #aaaaaa;

  h1 {
    text-align: center;
  }
  .too-many-containers {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .filter-bar {
    padding-top: 12px;
  }

  .filter {  
    background-color: #d0f0ff;
    padding: 4px 2px;
    margin: 4px;
    border-radius: 3px;
  
    p {
      font-size: 12px;
      margin-bottom: 3px;
    }
    .name {
      color: #666666;
    }
    .value {
      font-weight: 400;
    }
  }  
}

.content {
  padding-top: 12px;
}

.heat-map-list {
  background-color: rgb(248,248,248);
  padding-top: 4px;
}

.full-height {
  height: 100%;
}


.container-table {
  font-size: 12px;
}